<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class = "text-center">Book a Flight</h1>

    <div>
        <input type = "text" class = "form-control" #user placeholder="Username">
    </div>

    <button type = "submit" (click)="selectedUser(username.value)" class = "btn btn-primary">
        Select User
    </button>
    
    <div>
        Book a Flight for {{username.value}}
        <input type="text" class="form-control" #code placeholder = "Flight Code"/>
    </div>

    <br />
    <button type = "submit" (click)="selectedFlight(code.value)" class="btn btn-primary">
        Select Flight
    </button>
    
</body>
</html>