<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class = "text-center">View Users</h1>

    <div class = "card" *ngFor = "let user of users$;">
        <div class = "card-header title">
            <div class = "Username">{{user.username}}</div>
        </div>
    </div>

    <div class = "list-group list-group-flush">
        <li class = "list-group-item">{{flight.type}}</li>
        <li class = "list-group-item">{{flight.code}}</li>
    </div>
</body>
</html>